
@{
    ViewData["Title"] = "Contact";
}

<h1>
    AddPrd
</h1>



@using (Html.BeginForm("AddProd","Home"))
{
<fieldset>
    <legend>A prodct id will be generated </legend> <br />
    <lable for="CatagoryId">CatagoryId</lable>
    <select id="CatagoryId" name="CatagoryId">
        <option value="1">Vegetarisk</option>
        <option value="2">Hälsokassen</option>
        <option value="3">Balanserad kasse</option>
    </select> <br /><br />

    <label for="ProdName">Product Name</label><br />
    <input type="text" id="ProdName" name="ProdName"> <br /> <br />

    <label for="Description">Description</label><br />
    <input type="text" id="Description" name="Description"> <br /><br />

    <label for="Price">Price</label><br />
    <input type="text" id="Price" name="Price"> <br /><br />


    <lable for="imgName">Välj en bild</lable>
    <select id="imgName" name="imgName">
        <option value="Vego.jpg">Vegetarisk</option>
        <option value="eko.png">Ekologisk</option>
        <option value="vanlig.jpg">Balanserad kasse</option>
    </select> <br /><br />

    <input type="hidden" name="IsAddProd" value="true" />
    <button type="submit">Add Product</button>

</fieldset>
    
}



            @*public int Id;
            public int CatagoryId;
            public string Name;
            public string Description;
            public int Price;
            public string PicturePath*@